<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- mybatis框架只有接口 没有实现类 mybatis的映射文件就相当于是接口的实现类 主要用来编写sql语句 mapper 需要与映射接口对应 
	namespace 配置类的全限定名 -->

<mapper namespace="com.jk.mapper.JiuMapper">

    <insert id="addNews2" parameterType="com.jk.model.WineImg">
        insert into test values(#{id},"请在oss中查看")
    </insert>



</mapper>